<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.bettervoice.phonertc"
    version="2.0.0">

    <name>PhoneRTC</name>
    <description></description>
    <license></license>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="phonertc.js" name="PhoneRTC">
        <clobbers target="cordova.plugins.phonertc" />
    </js-module>
    <js-module name="mediahandler" src="mediaHandler.js" />
    <js-module name="mediahandlerlegacy" src="mediaHandlerLegacy-0.6.4.js" />
    
    <platform name="ios">
        <info>
        ---------------------

PhoneRTC Installation
---------------------

In order to install PhoneRTC on iOS, please follow these steps:

1) Go platforms/ios and click on [ProjectName].xcodeproj to open it with XCode
2) Go to your project settings
3) In `General`, change `Deployment Target` to 7.0 or above
4) Go to `Build Settings` and change:

      `Valid Architectures` => armv7 + arm64 (no armv7s)
      `Build Active Architecture Only` => No
      `Objective-C Bridging Header` => 
           [ProjectName]/Plugins/com.bettervoice.phonertc/Bridging-Header.h
      `Swift Optimization Level` => -Onone
      `Runpath Search Paths` => 
           $(inherited) @executable_path/Frameworks

5) Repeat step #4 for the CordovaLib project
6) Download the WebRTC unified (32 & 64 bit) framework lib from:
   http://s3.bettervoice.com/webrtclibs/webrtc-ios-unified.a (x86+arm)
7) Add the downloaded library as a framework to your iOS Xcode project.
8) Enable Audio + VoIP Background Modes
        ---------------------
        </info>

        <config-file target="config.xml" parent="/*">
            <feature name="PhoneRTCPlugin">
                <param name="ios-package" value="PhoneRTCPlugin" />
            </feature>
        </config-file>

        <header-file src="ios/RTCAudioSource.h" />
        <header-file src="ios/RTCAudioTrack.h" />   
        <header-file src="ios/RTCDataChannel.h" />
        <header-file src="ios/RTCEAGLVideoView.h" />
        <header-file src="ios/RTCI420Frame.h" />
        <header-file src="ios/RTCICECandidate.h" />
        <header-file src="ios/RTCICEServer.h" />
        <header-file src="ios/RTCMediaConstraints.h" />
        <header-file src="ios/RTCMediaSource.h" />
        <header-file src="ios/RTCMediaStream.h" />
        <header-file src="ios/RTCMediaStreamTrack.h" />
        <header-file src="ios/RTCNSGLVideoView.h" />
        <header-file src="ios/RTCOpenGLVideoRenderer.h" />
        <header-file src="ios/RTCPair.h" />
        <header-file src="ios/RTCPeerConnection.h" />
        <header-file src="ios/RTCPeerConnectionDelegate.h" />
        <header-file src="ios/RTCPeerConnectionFactory.h" />
        <header-file src="ios/RTCSessionDescription.h" />
        <header-file src="ios/RTCSessionDescriptionDelegate.h" />
        <header-file src="ios/RTCStatsDelegate.h" />
        <header-file src="ios/RTCStatsReport.h" />
        <header-file src="ios/RTCTypes.h" />
        <header-file src="ios/RTCVideoCapturer.h" />
        <header-file src="ios/RTCVideoRenderer.h" />
        <header-file src="ios/RTCVideoSource.h" />
        <header-file src="ios/RTCVideoTrack.h" />
        <header-file src="ios/SRWebSocket.h" />
        <header-file src="ios/Bridging-Header.h" />
        
        <source-file src="ios/PhoneRTCPlugin.swift" />
        <source-file src="ios/PCObserver.swift" />
        <source-file src="ios/Session.swift" />
        <source-file src="ios/Config.swift" />
        <source-file src="ios/SessionDescriptionDelegate.swift" />
        <source-file src="ios/WebSocket.swift" />
        <source-file src="ios/WebSocketDelegate.swift" />

        <framework src="libc++.dylib" />
        <framework src="libstdc++.dylib" />
        <framework src="libsqlite3.0.dylib" />
        <framework src="libicucore.dylib" />
        <framework src="OpenGLES.framework" />
        <framework src="CoreVideo.framework" />
        <framework src="CoreMedia.framework" />
        <framework src="CoreAudio.framework" />
        <framework src="CFNetwork.framework" />
        <framework src="Security.framework" />
        <framework src="Foundation.framework" />
        <framework src="AVFoundation.framework" />
        <framework src="QuartzCore.framework" />        
        <framework src="AssetsLibrary.framework" />
        <framework src="CoreGraphics.framework" />          
        <framework src="MobileCoreServices.framework" />
        <framework src="CoreLocation.framework" />
        <framework src="AudioToolbox.framework" />
        <framework src="GLKit.framework" />
    </platform>

</plugin>
